<link rel="stylesheet" href="/templates/estilosCR.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
<div id='app'>
    
    <!--
        <! – en caso de que no haya completado el formulario — >
        
                <h2>El DNI o el codigo de validación ingresados no son correctos. Por favor, intente nuevamente.</h2>
      

        <! – en caso de que el paciente haya completado el formulario — >
       
                <h2>Su información está siendo analizada. Por favor, consulte más tarde.</h2>
        
                <h2>La evaluación de su formulario corresponde a una persona sospechosa de Covid-19 y por lo tanto, deberá acercarse al Centro Hospitalario para poder realizarle el hisopado.</h2>
          
                <h2>La evaluación de su formulario no corresponde a una persona sospechosa de Covid-19.</h2>
       
        
        <! – en caso de que el paciente haya completado el formulario y se haya realizado el hisopado en un centro hospitalario — >
           
                <h2>El análisis de su hisopado está siendo analizado. Por favor, consulte más tarde.</h2>
          
                <h2>El resultado de su hisopado dio positivo y usted contiene Covid-19. Por favor, haga reposo de manera aislada a cualquier persona durante 14 días, y lo antes posible comuniquese al: <b>0800 444 0829</b>.</h2>
      
                <h2>El resultado de su hisopado dio negativo y usted no contiene Covid-19.</h2>
        
       
    -->

    <div id="caja" @submit.prevent="isModalActive=true">
        <form action="">
            <h1 class="title is-4">Por favor, ingrese los siguientes datos:</h1>
            <br/>
            <div id="caja2">
                <label id="titulo">DNI:</label>
                <input type="int" placeholder="DNI" name="dni" id="dni">
                <br/>
                <label id="titulo">Codigo de validación:</label>
                <input type="text" placeholder="Código" name="codigo" id="codigo">
                <br/>
                <div class="grid">
                    <a class="botones2" href="/">Cancelar</a>
                    <button class="botones" type="submit" @click="isModalActive=true">Consultar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal" :class="{'is-active': isModalActive}">
        <div class="modal-background" @click="isModalActive=false"></div>
        <div class="modal-content">
            <div id="resultado">
                <br/>
                <h2>El resultado de su hisopado dio positivo y usted contiene Covid-19. Por favor, haga reposo de manera aislada a cualquier persona durante 14 días, y lo antes posible comuniquese al: <b>0800 444 0829</b>.</h2>
            </div>  
        </div>
        <button type="submit" @click="isModalActive=false"></button>
    </div>
</div>

<script>
    const vue = new Vue({
        el:'#app',
        data: function(){
            return{
                isModalActive: false,
            }
        },
        methods:{
            
        }
    })
</script>