<link rel="stylesheet" href="/styles/estilosCR.css">
<div id="caja">
    <form action="">
        <h2>Por favor, ingrese los siguientes datos:</h2>
        <br/>
        <div id="caja2">
            <label id="titulo">DNI:</label>
            <input type="int" placeholder="DNI" name="dni" id="dni">
            <label id="titulo">Codigo de validación:</label>
            <input type="text" placeholder="Código" name="codigo" id="codigo">
            <br/>
            <div class="grid">
                <input class="botones" type="submit" href="index.html" value="Cancelar ">
                <input class="botones" type="submit" value="Consultar">
            </div>
        </div>
    </form>
</div>