<body background="/images/covid.PNG">
		<section id="estadoPandemia">
			<div>
				<br/>
				<br/>
				<h4 id="titulo1">Estado de la Pandemia</h4>
				<div id="fases1">
					<div id=fase1>
						<h2>FASE 1: Aislamiento estricto</h2>
						<h3><b>Autorizados:</b> sólo servicios esenciales</h3>
						<h3><b>Prohibiciones:</b> todo el resto</h3>
						<h3><b>Movilidad de la población:</b> hasta el 10%</h3>
						<h3><b>Tiempo de duplicación de los casos:</b> menos de 5 días</h3>
						<h3><b>Geográfico:</b> Homogéneo</h3>
					</div> 
					<div id=fase2>
						<h2>FASE 2: Aislamiento administrativo</h2>
						<h3><b>Autorizados:</b> nuevas autorizaciones</h3>
						<h3><b>Prohibiciones:</b> prohibiciones nacionales</h3>
						<h3><b>Movilidad de la población:</b> hasta el 25%</h3>
						<h3><b>Tiempo de duplicación de los casos:</b> de 5 a 15 días</h3>
						<h3><b>Geográfico:</b> Exepciones Nacionales</h3>
					</div> 
					<div id=fase3>
						<h2>FASE 3: Segmentación Geográfica</h2>
						<h3><b>Autorizados:</b> sólo servicios Provinciales</h3>
						<h3><b>Prohibiciones:</b> prohibiciones Nacionales</h3>
						<h3><b>Movilidad de la población:</b> hasta el 50%</h3>
						<h3><b>Tiempo de duplicación de los casos:</b> 15 a 25 días</h3>
						<h3><b>Geográfico:</b> Segmentación por criterio epidemiológico</h3>
					</div> 
				</div>
				<div id="fases2">
					<div id=fase4>
						<h2>FASE 4: Reapertura progresiva</h2>
						<h3><b>Autorizados:</b> exepciones Provinciales</h3>
						<h3><b>Prohibiciones:</b> Prihibiciones Nacionales</h3>
						<h3><b>Movilidad de la población:</b> hasta el 75%</h3>
						<h3><b>Tiempo de duplicación de los casos:</b> más de 25 días</h3>
						<h3><b>Geográfico:</b> Restricciones locales</h3>
					</div> 
					<div id=fase5>
						<h2>FASE 5: Nueva normalidad</h2>
						<h3>En esta nueva normalidad las actividades se reanudarán practicamente por completo, pero la vida de cuidarnos se verá afectada por unas nuevas medidas de higiene y seguridad que perdurarán en el tiempo, al menos hasta que se encuentre la vacuna y esta sea accesible para todos.</h3>
						<h3><b>Autorizados:</b> con hábitos de higiene y cuidado sostenido</h3>
						<h3><b>Prohibiciones:</b> - </h3>
						<h3><b>Movilidad de la población:</b> hasta el 75%</h3>
						<h3><b>Tiempo de duplicación de los casos:</b> -</h3>
						<h3><b>Geográfico:</b> Homogéneo</h3>
					</div> 
				</div>
				</div>
			</div>
		</section>
		<hr/>
		<section id="recomendaciones">
				<div>
					<h1 id="titulo2">Precauciones</h1>
				</div>    
				<div class="grid1">   
					<div class="element">
						<img src="/images/lavarManos.png"/>
						<h3>Lavate las manos con jabón frecuentemente</h3>
					</div>
					
					<div class="element">
						<img src="/images/estornudarCodo.png"/>
						<h3>Estornudá y tosé en el pliegue del codo</h3>
					</div>
					
					<div class="element">
						<img src="/images/manos.png"/>
						<h3>No te lleves las manos a los ojos, nariz ni boca</h3>
					</div>

					<div class="element">
						<img src="/images/ventilar.png" />
						<h3>Ventilá bien los ambientes de tu casa y de tu trabajo</h3>
					</div>

					<div class="element">
						<img src="/images/limpiar.png"/>
						<h3>Limpiá los objetos que usás con frecuencia</h3>
					</div>
					
					<div class="element">
						<img src="/images/permanecerCasa.png"/>
						<h3>Permanecé en tu dimicilio durante el aislamiento</h3>
					</div>
					
					<div class="element">
						<img src="/images/reducirContacto.png"/>
						<h3>Reducí el contacto físico con otras personas</h3>
					</div>

					<div class="element">
						<img src="/images/noMate.png"/>
						<h3>No compartas mate, vajillas ni otros objetos de uso personal</h3>
					</div>
					
					<div class="element">
						<img src="/images/barbijo.PNG"/>
						<h3>No circules si no es necesario. Si lo hacés usa tapabocas y mantene distancia</h3>
					</div>
				</div>
				<div>
					<h1 id="titulo2">Síntomas</h1>
				</div>
				<br/>
				<div class="grid2">
					<div class="element2">
						<img src="/images/sintoma2.png"/>
						<h3>Fiebre y dolor de garganta</h3>
					</div>
					<div class="element2">
						<img src="/images/sintoma1.png"/>
						<h3>Fiebre y tos</h3>
					</div>
					<div class="element2">
						<img src="/images/sintoma3.png"/>
						<h3>Fiebre y dificultad para respirar</h3>
					</div>
				</div>
		</section>
		<hr/>
		
		<!-- Cargar tabla con estadisticas del ministerio -->
		<section id="app">
				<div id="">
					<h1 id="titulo3">Informe diario</h1>
				</div>

				<div id="tabla">
					<div id="prueba">
						<!-- plantilla del componente-->
						<table class="table">
							<tr>
								<th>Ciudad</th>
								<th>Poblacion</th>
								<th>Cantidad de enfermos</th>
								<th>Cantidad de muertos</th>
								<th>Cantidad de recuperados</th>
								<th>Porcentaje enfermos</th>
								<th>Porcentaje muertos</th>
								<th>Porcentaje recuperados</th>
							</tr>
							<tr v-for="(dato,index) in datos">
								<td v-text="dato.nombreCiudad"></td>
								<td v-text="dato.poblacion"></td>
								<td v-text="dato.cantidades.enfermos"></td>
								<td v-text="dato.cantidades.muertos"></td>
								<td v-text="dato.cantidades.recuperados"></td>
								<td>{{((parseInt(dato.cantidades.enfermos)*100)/parseInt(dato.poblacion)).toFixed(2)}}</td>
								<td>{{((parseInt(dato.cantidades.muertos)*100)/parseInt(dato.poblacion)).toFixed(2)}}</td>
								<td>{{((parseInt(dato.cantidades.recuperados)*100)/parseInt(dato.poblacion)).toFixed(2)}}</td>
							</tr>
							<tr>
								<td>Totales:</td>
								<td v-text="datosCompletos.totales.poblacionTotal"></td>
								<td v-text="datosCompletos.totales.enfermos"></td>
								<td v-text="datosCompletos.totales.muertos"></td>
								<td v-text="datosCompletos.totales.recuperados"></td>
								<td>{{((parseInt(datosCompletos.totales.enfermos)*100)/parseInt(datosCompletos.totales.poblacionTotal)).toFixed(2)}}</td>
								<td>{{((parseInt(datosCompletos.totales.muertos)*100)/parseInt(datosCompletos.totales.poblacionTotal)).toFixed(2)}}</td>
								<td>{{((parseInt(datosCompletos.totales.recuperados)*100)/parseInt(datosCompletos.totales.poblacionTotal)).toFixed(2)}}</td>
							</tr>
						</table>
						
						<h4>Actualizado por ultima vez: {{fechaActualizacion.toLocaleString("es-AR")}}</h4>
					</div>
				</div>
				<br/>
		</section>
		<hr/>
		<section id="preguntasFrecuentes">
				<br/>
				<div id="cajaPregFrecuentes">
					<div>
						<h1 id="titulo4">Preguntas Frecuentes</h1>
					</div>
						<h2>¿Por qué ne piden que me quede en casa si no es indispensable que salga? ¿Por qué tengo que reducir al mínimo el contacto con otras personas?</h2>
						<h3>Para que haya menos probabilidades de que circule el coronavirus y que contagie a otras personas.</h3>
						<h3>Como recordarás, los primeros casos que hubo fueron importados: las personas se contagiaron en otros países.</h3>
						<h3>En estos momentos tenemos los primeros casos de personas que se contagiaron por estar en contacto con algún caso importado: familiares, amigos o compañeros de trabajo con quienes hay contacto estrecho (se comparte un ámbito de manera habitual).</h3>
						<h3>Este segundo tipo de caso se denomina de transmisión local.</h3>
						<h3>Si el virus circula más, se pasa a un tercer tipo de caso que se denomina de transmisión comunitaria: nos puede contagiar (o podemos contagiar a) una persona que desconocemos en cualquier lugar donde estemos, como un sitio con asistencia de público. Es lo que sucede todos los años con el virus de la gripe, por ejemplo.</h3>
						<h3>Es inexorable que en algún momento haya casos de trasmisión comunitaria. Al evitar actividades sociales (no salir de paseo, no ir a lugares públicos), bajan las probabilidades de transmisión y ayudamos en especial a las personas que presentan más riesgos si se contagian.</h3>
						
						<h2>¿Cómo reducimos la probabilidad de contagiarnos o de contagiar a otros?</h2>
						<h3>•  Además de evitar actividades sociales (salidas, paseos), seguí las siguientes recomendaciones:</h3>
						<h3>•  Lavate frecuentemente las manos con agua y jabón durante 1 minuto. Esta es la medida más eficaz.</h3>
						<h3>•  Si tosés o estornudás, hacelo sobre el pliegue de tu codo.</h3>
						<h3>•  Mantené bien ventilados los ambientes.</h3>
						<h3>•  Limpiá los objetos y superficies que tocás con frecuencia (escritorios, teclados de computadora, celular).</h3>
						<h3>•  Evitá tocarte el rostro (boca, nariz y ojos).</h3>
						<h3>•  Si regresás desde un país con transmisión del virus, permanecé en tu casa por 14 días y evitá el contacto con otras personas.</h3>
					
						<h2>¿Sirve usar alcohol en gel?</h2>
						<h3>¿Sirve, pero la medida más eficaz para prevenir el coronavirus COVID-19 es lavarse las manos con agua y jabón durante 1 minuto.</h3>
					
						<h2>¿Hay personas que presentan más riesgos si se contagian?</h2>
						<h3>Sí. Las personas mayores de 60, las que tienen enfermedades respiratorias y las que tienen afecciones como diabetes presentan mayores riesgos en caso de contagio. Por eso el Gobierno determinó el 15 de marzo que esas personas no deben presentarse a trabajar.</h3>
						<h3>Si tenés alguna afección, consultale a tu médico si estás en los grupos de mayor riesgo.</h3>
					
						<h2>¿Cuáles son los síntomas más comunes del coronavirus?</h2>
						<h3>Los síntomas del coronavirus son parecidos a los de la gripe (influenza). Por eso es muy importante que consultes al médico ante la presencia de cualquiera síntoma compatible con el coronavirus.</h3>
						<h3>El primer síntoma que aparece es la fiebre, 38 grados o más.</h3>
						<h3>Luego puede aparecer con tos seca y continua.</h3>
						<h3>Otros síntomas son la dificultad para respirar y el dolor de garganta.</h3>
						<h3>Si tenés muchas flemas además de la fiebre, es un síntoma de coronavirus. En cambio, no es síntoma tener mocos.</h3>
						<h3>Ante cualquiera de estos síntomas, consultá urgente a tu médico.</h3>
					
						<h2>La vacuna contra la gripe, ¿es útil contra el coronavirus?</h2>
						<h3>No, la vacuna antigripal solo previene la influenza. Todavía no existe una vacuna contra el coronavirus COVID-19, por eso es tan importante la prevención.</h3>
						<h3>De todos modos, es importantísimo que los grupos de riesgo ante la gripe (adultos mayores, personas con problemas respiratorios, personal de salud) se apliquen la vacuna contra la influenza como todos los años.</h3>
			
						<h2>Todos los días viajo al trabajo en colectivo. ¿Debo preocuparme?</h2>
						<h3>El Ministerio de Transporte dispuso medidas para que se mantenga la higiene de los coches a fin de reducir la probabilidad de contagio.</h3>
						<h3>En las estaciones de ómnibus y trenes rige un protocolo para la detección precoz, la anticipación de complicaciones, el aislamiento inmediato y la prevención de contagios.</h3>
					
						<h2>¿Hay clases en los colegios y universidades?</h2>
						<h3>El Gobierno nacional dispuso el 15 de marzo que se suspendan las clases por 14 días en los niveles inicial (jardín), primario y secundario.</h3>
						<h3>Si estudiás en una universidad pública o privada, consultá con la institución.</h3>
						<h3>Si estudiás en otro tipo de institución (terciario, profesorado, educación no oficial), consultá con el instituto.</h3>
						<h3>Si la institución tiene cuentas en las redes sociales, te sugerimos que las sigas para mantenerte al tanto de sus novedades.</h3>
					
						<h2>Soy jubilado. ¿Puedo evitar hacer cola en el banco o en el ANSES?</h2>
						<h3>Si.</h3>
						<h3>Para cobrar tu jubilación, usá el cajero automático.</h3>
			
						<h2>¿Se controla a las personas que entran al País?</h2>
						<h3>Sí. Desde el 16 de marzo y por 15 días no pueden ingresar quienes no residen en el país.</h3>
						<h3>Para el resto de los casos se tomaron otras medidas.</h3>
						<h3>En el Aeropuerto Internacional de Ezeiza se instalaron cámaras térmicas que registran a distancia la temperatura corporal de todas las personas que arriban al país.</h3>
						<h3>Si se detecta algún pasajero con fiebre, la Policía de Seguridad Aeroportuaria traslada a la persona a las oficinas de la Dirección de Sanidad de Fronteras, dependiente del Ministerio de Salud, para que profesionales verifiquen su estado de salud.</h3>
						<h3>Las aerolíneas entregan a los pasajeros y tripulantes, por indicación del Ministerio de Transporte, formularios de declaración juradas sobre los países que visitaron los últimos 15 días. Los formularios, denominados "Declaración de Salud del Viajero", son recibidos por personal de Sanidad de Frontera.</h3>
						<h3>Si un ciudadano argentino regresa al país desde una zona afectada o presenta síntomas, debe hacer aislamiento obligatorio (cuarentena) por 14 días. No hacerlo está penado por la ley.</h3>
						<h3>También hay controles en puertos y en pasos fronterizos.</h3>
					
						<h2>Soy argentino y estoy de viaje en un País afectado por el coronavirus. ¿Voy a poder regresar?</h2>
						<h3>Sí. Hasta el lunes 16 de marzo podés hacerlo por la aerolínea que hayas contratado. A partir del martes 17 de marzo solo vas a poder regresar por Aerolíneas Argentinas.</h3>
						<h3>Si volvés después del 17 de marzo y tenés pasaje de otra aerolínea, gestioná el reembolso y comunícate con la embajada o el consulado argentino del lugar donde te encuentres para tramitar tu regreso.</h3>
					
						<h2>Si sé que alguien no cumplió con la cuarentena obligatoria. ¿Puedo denunciarlo?</h2>
						<h3>Sí, denuncialo en la comisaría más cercana o llamá al teléfono gratuito 0800-222-1002 opción 1 desde cualquier lugar del país.</h3>
					</div>
				</div>
				
			</section>
	<hr/>

<script>
	const vue = new Vue({
		el:'#app',
		data(){
			return{
				datos:[],
				dato:'',
				fechaActualizacion:'',
				datosCompletos:[],
				totales:[],
				long:'',
			}
		},
		created(){
			this.inicio()
			
		},
		methods:{
			inicio(){
				axios.get(`https://6iubewzdng.execute-api.sa-east-1.amazonaws.com/dev/stat`) //URL estadisticas. Esto va en el index
				.then((response)=>{
					console.log('Get "Stats" 200')
					longitud = ((response.data).length)-1
					this.datos = response.data[longitud].dataCiudades
					this.fechaActualizacion = new Date(response.data[longitud].createdAt)
					//console.log(this.fechaActualizacion)
					this.datosCompletos = response.data[longitud]
					//console.log('Datos completos: ',this.datosCompletos)
				})
				.catch((err)=>{
					console.log(err)
				})
			},
		}
	})
</script>