<link rel="stylesheet" href="/templates/estilosIF.css">
<div id="app">
        <form id="formulario" @submit.prevent="enviar">
            <h2>Formulario de notificación de Coronavirus</h2>
            <fieldset>
                <legend>Datos personales</legend>
                <div>
                    <div class="field">
                        <label class="label">Apellido</label>
                        <input v-model="Apellido" class="input" type="text" placeholder="Apellido">

                        <label class="label">Nombre</label>
                        <input v-model="Nombre" class="input" type="text" placeholder="Nombre">

                        <label class="label">DNI</label>
                        <input v-model="Dni" class="input" type="text" placeholder="">

                    </div>
                </div>

                <div>
                    <div class="field">
                        <div class="control">
                            <label class="label">Fecha de nacimiento</label>
                            <input v-model="FechaNacimiento" class="input" type="date" value="fechaNacimiento">

                            <label class="label" for="">Sexo</label>
                            <select v-model='Sexo'>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>

                            <label class="label">Telefono</label>
                            <input v-model="Telefono" class="input" type="text" placeholder="Teléfono">
                        </div>
                    </div>                    
                </div>

                <div>
                    <div class="field">    
                        <div class="control">
                            <label class="label">Correo electronico</label>
                            <input v-model="Email" class="input" type="email" placeholder="example@example.com">
                        </div>
                    </div>
                </div>
        
                <label class="negrita">Dirección</label>
                <br>
                    <label class="label">Calle</label>
                    <input v-model="Calle" class="input" type="text" placeholder="Calle">
                    <label class="label">Número</label>
                    <input v-model="NroDeCalle" class="input" type="text" placeholder="Número calle">
                    <label class="label">Depto</label>
                    <input v-model="Dpto" class="input" type="text" placeholder="">
                    <label class="label">Piso</label>
                    <input v-model="Piso" class="input" type="text" placeholder="">
                    <br>
                    <br>

                <div class="field">
                    <div class="control">
                        <label class="label" for="">Provincia</label>
                      <select v-model="Provincia" class="form-control" id="provincia" @click=''>
                        <option v-for="(Provincia,index) in provincias">{{provincias[index].nombre}}</option>
                    </select>

                    <label class="label">Localidad</label>
                    <select v-model="Localidad" class="form-control" id="localidad" @click=''>
                        <option v-for="(Localidad,index) in localidades">{{localidades[index].nombre}}</option>
                    </select>
                    </div>
                </div>
            </fieldset>





            <fieldset>
               <legend>Antecedentes Epidemiológicos</legend> 

                    <label class="negrita">Ocupaciones</label>
                    <br/>
                    <br/>
                    <div class="margen">
                        <div class="field">
                            <div class="control">
                                <input v-model="Ocupacion" class="radio" type="radio" name="Ocupacion" value="1"> Trabajador de atención de la salud
                                <input v-model="Ocupacion" class="radio" type="radio" name="Ocupacion" value="2"> Trabajador de laboratorio
                                <input v-model="Ocupacion" class="radio" type="radio" name="Ocupacion" value="3"> Trabaja con animales
                                <input v-model="Ocupacion" class="radio" type="radio" name="Ocupacion" value="0"> Otro
                            </div>
                        </div>
                    </div>

                    <br/>

                    <label class="negrita">Antecedentes de vacunación</label>
                    <div class="margen">
                        <div class="field">
                            <div class="control">
                                <input v-model="TieneVacunaAntiGripal" class="checkbox" type="checkbox" name="TieneVacunaAntiGripal" value="TieneVacunaAntiGripal"/> Antigripal
                                <label id="FechaDeVacunacion">Fecha: </label>
                                <input v-model="FechaDeVacunacion" class="input" type="date" value="FechaDeVacunacion" :disabled="TieneVacunaAntiGripal === false">
                                <label id="FechaDeVencimientoDeLaVacuna">Vencimiento: </label>
                                <input v-model="FechaDeVencimientoDeLaVacuna" class="input" type="date" value="FechaDeVencimientoDeLaVacuna" :disabled="TieneVacunaAntiGripal === false">
                                
                            </div>
                        </div>     
                    </div>

                    <br/>

                    <label class="negrita" >Viajes y otras exposiciones de riesgo</label>
                    <div class="margen">
                        <div class="field">
                            <div class="control">
                                <p>¿Ha viajado o recidido en una zona de riesgo conocida fuera del País en los últimos 14 días previos al inicio de síntomas?</p>
                                <input v-model="SiNo" class="radio" type="radio" name="SiNo" value=true> Si
                                <input v-model="SiNo" class="radio" type="radio" name="SiNo" value=false> No

                                <br>
                                <p>¿Dónde?</p>
                                <label class="label">Pais donde estuvo: </label>
                                <input v-model="PaisEnQueEstuvo" class="input" type="text" placeholder="País" :disabled="SiNo === 'false'">
                                <label class="label">Ciudad: </label>
                                <input v-model="CiudadDelPaisEnQueEstuvo" class="input" type="text" placeholder="Ciudad" :disabled="SiNo === 'false'">
                                <br>
                                <label id="fechaPaisDesde">Desde</label>
                                <input v-model="fechaPaisDesde" class="input" type="date" value="fechaPaisDesde" :disabled="SiNo === 'false'">
                                <label id="fechaPaisHasta">Hasta</label>
                                <input v-model="fechaPaisHasta" class="input" type="date" value="fechaPaisHasta" :disabled="SiNo === 'false'">
                            </div>
                        </div>
                    </div>
                    
                    <div target="_blank">
                        <label>Viajó en:</label>
                        <input v-model="opcionViaje" class="radio" type="radio" name="opcionViaje" value="1" :disabled="SiNo === 'false'"> Avión
                        <input v-model="opcionViaje" class="radio" type="radio" name="opcionViaje" value="2" :disabled="SiNo === 'false'"> Barco
                        <input v-model="opcionViaje" class="radio" type="radio" name="opcionViaje" value="3" :disabled="SiNo === 'false'"> Omnibus
                        <input v-model="opcionViaje" class="radio" type="radio" name="opcionViaje" value="0" :disabled="SiNo === 'false'"> Otro
                    </div>
                    <div>
                        <label>Fecha de ingreso al País:</label>
                        <input v-model="fechaIngreso" class="input" type="date" value="fechaIngreso" :disabled="SiNo === 'false'">
                        <label>Compañia:</label>
                        <input v-model="compania" class="input" type="text" placeholder="Compañia" :disabled="SiNo === 'false'">
                    </div>


                    <div class="margen">
                        <p>¿Ha viajado o recidido en una zona dentro del país (distinto del domicilio) en los ultimos 14 días previos al inicio de síntomas?</p>
                            <div class="control">
                                <input v-model="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas" class="radio" type="radio" name="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas" value="true"> Si
                                <input v-model="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas" class="radio" type="radio" name="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas" value="false"> No
                            </div>
                        <label class="label">Calle</label>
                        <input v-model="Calle1" class="input" type="text" placeholder="Calle" :disabled="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas === 'false'">
                        <label class="label">Número</label>
                        <input v-model="NroDeCalle1" class="input" type="text" placeholder="Número calle" :disabled="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas === 'false'">
                        <label class="label">Depto</label>
                        <input v-model="Dpto1" class="input" type="text" placeholder="" :disabled="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas === 'false'">
                        <label class="label">Piso</label>
                        <input v-model="Piso1" class="input" type="text" placeholder="" :disabled="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas === 'false'">
                        <br>
                        <label class="label" for="">Provincia</label>
                        <select v-model="provincia1" class="form-control" id="provincia" @click='' :disabled="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas === 'false'">
                            <option v-for="(provincia,index) in provincias">{{provincias[index].nombre}}</option>
                        </select>

                        <label class="label">Localidad</label>
                        <select v-model="localidad1" class="form-control" id="localidad" @click='' :disabled="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas === 'false'">
                            <option v-for="(localidad,index) in localidades">{{localidades[index].nombre}}</option>
                        </select>
                        <br>
                        <label id="fechaDesde">Desde</label>
                        <input v-model="fechaDesde" class="input" type="date" value="fechaDesde" :disabled="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas === 'false'">
                        <label id="fechaHasta">Hasta</label>
                        <input v-model="fechaHasta" class="input" type="date" value="fechaHasta" :disabled="ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas === 'false'">
                    </div>
            </fieldset>





            <fieldset>
                <legend>Enfermedades previas / Comorbilidades</legend>
                <div class="margen">
                    <input v-model="PresentaEnfermedadesComorbilidades" class="radio" type="radio" name="PresentaEnfermedadesComorbilidades" value="true"> Presenta
                    <input v-model="PresentaEnfermedadesComorbilidades" class="radio" type="radio" name="PresentaEnfermedadesComorbilidades" value="false"> No Presenta
                </div>

                <div id="enfermedades1" class="checkbox">
                        <input type="checkbox" id="InmunoSupresionCongenitaOAdquirida" v-model="InmunoSupresionCongenitaOAdquirida" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Inmunosupresión congénita o adquirida
                        <br>
                        <input type="checkbox" id="Diabetes" v-model="Diabetes" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Diabetes
                        <br>
                        <input type="checkbox" id="Obesidad" v-model="Obesidad" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Obesidad
                        <br>
                        <input type="checkbox" id="Embarazo" v-model="Embarazo" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Embarazo
                        <br>
                        <input type="checkbox" id="Puerperio" v-model="Puerperio" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Puerperio
                        <br>
                        <input type="checkbox" id="Prematuridad" v-model="Prematuridad" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Prematernidad
                        <input v-model="SemanasDePrematuridad" class="input" type="text" placeholder="Semanas" :disabled="!Prematuridad"/>
                        
                        <br>
                </div>

                <div id="enfermedades2">
                        <input type="checkbox" id="BajoPesoAlNacer" v-model="BajoPesoAlNacer" :disabled="PresentaEnfermedadesComorbilidades === 'false'">Bajo peso al nacer
                        <input v-model="CantidadPesoAlNacer" class="input" type="text" placeholder="gr" :disabled="!BajoPesoAlNacer"/>
                        <br>
                        <input type="checkbox" id="EnfermedadNeurologica" v-model="EnfermedadNeurologica" :disabled="PresentaEnfermedadesComorbilidades === 'false'">Enfermedad neurológica
                        <br>
                        <input type="checkbox" id="EnfermedadHepatica" v-model="EnfermedadHepatica" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Enfermedad hepática
                        <br>
                        <input type="checkbox" id="EnfermedadRenalCronica" v-model="EnfermedadRenalCronica" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Enfermedad Renal Crónica
                        <br>
                        <input type="checkbox" id="HipertensionArterial" v-model="HipertensionArterial" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Hipertensión arterial
                        <br>
                        <input type="checkbox" id="EnfermedadOncologica" v-model="EnfermedadOncologica" :disabled="PresentaEnfermedadesComorbilidades === 'false'">Enfermedad oncológica
                        <br>
                </div>

                <div id="enfermedades3">
                        <input type="checkbox" id="BronquitisPrevia" v-model="BronquitisPrevia" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> Bronquiolitis previa
                        <br>
                        <input type="checkbox" id="NAC_Previa" v-model="NAC_Previa" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> N.A.C previa
                        <br>
                        <input type="checkbox" id="EPOC" v-model="EPOC" :disabled="PresentaEnfermedadesComorbilidades === 'false'"> EPOC
                        <br>
                        <input type="checkbox" id="Asma" v-model="Asma" :disabled="PresentaEnfermedadesComorbilidades === 'false'">Asma
                        <br>
                        <input type="checkbox" id="Tuberculosis" v-model="Tuberculosis" :disabled="PresentaEnfermedadesComorbilidades === 'false'">Tuberculosis
                        <br>
                        <input type="checkbox" id="Fumador" v-model="Fumador" :disabled="PresentaEnfermedadesComorbilidades === 'false'">Fumador
                        <br>
                        <br>
                </div>

                <label>Otros</label>
                <input v-model="OtrasDetalle" class="input" type="text" placeholder="Especificar" :disabled="PresentaEnfermedadesComorbilidades === 'false'">
            </fieldset>





            <fieldset>
                <legend>Signos y Síntomas</legend>
                <div id="stextomas1">
                        <input type="checkbox" id="FiebreMayorA38" v-model="FiebreMayorA38">Fiebre (≥ 38ºC)
                        <br>
                        <input type="checkbox" id="Taquipnea_Disnea" v-model="Taquipnea_Disnea">Taquipnea / Disnea
                        <br>
                        <input type="checkbox" id="Diarrea" v-model="Diarrea">Diarrea
                        <br>
                </div>

                <div id="stextomas2">
                        <input type="checkbox" id="MalestarEnGenerl" v-model="MalestarEnGenerl">Malestar general
                        <br>
                        <input type="checkbox" id="Tos" v-model="Tos">Tos
                        <br>
                        <input type="checkbox" id="Vomitos" v-model="Vomitos">Vómitos
                        <br>
                </div>

                <div id="stextomas3">
                        <input type="checkbox" id="Artralgias" v-model="Artralgias">Artralgias
                        <br>
                        <input type="checkbox" id="InsuficienciaRespiratoria" v-model="InsuficienciaRespiratoria">Insuficiencia respiratoria
                        <br>
                        <input type="checkbox" id="DolorAbdominal" v-model="DolorAbdominal">Dolor abdominal
                        <br>
                        <input type="checkbox" id="DolorToracico" v-model="DolorToracico">Dolor torácico
                        <br>
                </div>

                <div id="stextomas4">
                        <input type="checkbox" id="DolorDeGarganta" v-model="DolorDeGarganta">Dolor de garganta
                    </div>
                    <div>
                        <input type="checkbox" id="RechazoAlAlimento" v-model="RechazoAlAlimento">Rechazo de alimento
                    </div>
                    <div>
                        <input type="checkbox" id="IrritabilidadConfusion" v-model="IrritabilidadConfusion"> Irritabilidad / Confusión
                    <div>
                        <input type="checkbox" id="Convulsiones" v-model="Convulsiones">Convulsiones
                    </div>
                    <br/>
                    <br/>
                </div>


                <label>Otros</label>
                <input v-model="OtrosDetalleSintomas" class="input" type="text" placeholder="Especificar">
            </fieldset>





            <div id="boton">
                <input type="submit" value="Enviar Formulario" id="botonEnviar" @onclick="enviar"/>
            </div>
                
        </form>
        
    </div>

<script>
    const config = {
        headers: {
            "Content-Type":"application/json",
            "Access-Control-Allow-Headers" : "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "OPTIONS,POST,GET"
        },
    }

    const vue = new Vue({
        el: '#app',
        data(){
            return{
                index:'',
                Nombre:'',
                Apellido:'',
                Dni:'',
                FechaNacimiento:'',
                Edad:'',
                Sexo:'',
                Email:'',
                Telefono:'',
                Cp:'',
                Localidad:'',
                Direccion:'',
                provincias:[],
                Provincia:'',
                localidades:[],
                Ocupacion:'',
                TieneVacunaAntiGripal:false,
                FechaDeVencimientoDeLaVacuna:'',
                FechaDeVacunacion:'',
                SiNo:'false',
                PaisEnQueEstuvo:' ',
                CiudadDelPaisEnQueEstuvo:' ',
                fechaPaisDesde:'',
                fechaPaisHasta:'',
                opcionViaje:' ',
                compania:' ',
                fechaIngreso:'',
                ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas:'false',
                domicilioEnQueEstuvo:' ',
                fechaDesde:'',
                fechaHasta:'',
                PresentaEnfermedadesComorbilidades:'false',
                InmunoSupresionCongenitaOAdquirida:false,
                Diabetes:false,
                Obesidad:false,
                Embarazo:false,
                Puerperio:false,
                Prematuridad:false,
                SemanasDePrematuridad:'',
                BajoPesoAlNacer:false,
                CantidadPesoAlNacer:'',
                EnfermedadNeurologica:false,
                EnfermedadHepatica:false,
                EnfermedadRenalCronica:false,
                HipertensionArterial:false,
                EnfermedadOncologica:false,
                BronquitisPrevia:false,
                NAC_Previa:false,
                EPOC:false,
                Asma:false,
                Tuberculosis:false,
                Fumador:false,
                OtrasDetalle:' ',
                FiebreMayorA38:false,
                Taquipnea_Disnea:false,
                Diarrea:false,
                MalestarEnGenerl:false,
                Tos:false,
                Vomitos:false,
                Artralgias:false,
                InsuficienciaRespiratoria:false,
                DolorAbdominal:false,
                DolorToracico:false,
                DolorDeGarganta:false,
                RechazoAlAlimento:false,
                IrritabilidadConfusion:false,
                Convulsiones:false,
                OtrosDetalleSintomas:'',
                Calle:'',
                NroDeCalle:'',
                Dpto:'',
                Piso:'',
                Calle1:' ',
                NroDeCalle1:' ',
                Dpto1:' ',
                Piso1:' ',
                provincia1:'',
                localidad1:'',    
            }
        },

        created: function(){
            console.log('Iniciando...')
            this.get_provincias()
            this.get_localidades()
            this.get_api()
        },

        

        methods:{

            get_api(){
                axios.get('http://40.118.242.96:12600/api/Provincia/GetAll')
                .then((response)=>{
                    console.log(response.data)
                })
                .catch((err)=>{
                    console.log(err)
                })
            },
            get_provincias(){
                axios.get(`http://40.118.242.96:12600/api/Provincia/GetAll`)
                .then((response)=>{
                    this.provincias = response.data

                })
                .catch((err)=>{
                    console.log(err)
                })
            },
            get_localidades(){
                axios.get(`http://40.118.242.96:12600/api/Localidad/GetAll`)
                .then((response)=>{
                    this.localidades = response.data

                })
                .catch((err)=>{
                    console.log(err)
                })
            },

            /*cargar_localidad(){
                let datos = {
                    nombre: "Pampa del Infierno",
                    provinciaId: 2,
                    codigoPostal: "6666"
                }

                axios.post(`http://40.118.242.96:12600/api/Localidad/Add`,datos,config)
                .then((response)=>{
                    console.log('Post de localidades')
                })
                .catch((err)=>{
                    console.log(err)
                })
            },*/

            pruebas(){
                console.log('----PRUEBAS----')
                // EMPIEZA
                console.log('Todo esto va en Pacientes y Domicilio: ',this.Nombre,this.Apellido,this.Dni,this.FechaNacimiento,this.Calle,this.NroDeCalle,this.Dpto,this.Dpto,this.Piso,
                this.Telefono,this.Sexo,this.Email)

                console.log('Antecedente Epidemiologicos1: ',parseInt(this.Ocupacion),this.TieneVacunaAntiGripal,this.FechaDeVacunacion,this.FechaDeVencimientoDeLaVacuna,this.strtobool(this.SiNo),
                this.PaisEnQueEstuvo,this.CiudadDelPaisEnQueEstuvo,this.fechaPaisDesde,this.fechaPaisHasta,parseInt(this.opcionViaje),this.fechaIngreso, this.compania,this.strtobool(this.ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas),)
                
                console.log('Domicilio ajeno: ',this.Calle1,this.NroDeCalle1,this.Dpto1,this.Dpto1,this.Piso1,this.fechaDesde,this.fechaHasta,)
                
                console.log('Enfermedades Previas y Comorbilidades: ',this.strtobool(this.PresentaEnfermedadesComorbilidades),this.InmunoSupresionCongenitaOAdquirida,this.Diabetes,
                this.Obesidad,this.Embarazo,this.Puerperio,this.Prematuridad, this.SemanasDePrematuridad,this.BajoPesoAlNacer, this.CantidadPesoAlNacer,this.EnfermedadNeurologica,
                this.EnfermedadHepatica,this.EnfermedadRenalCronica,this.HipertensionArterial,this.EnfermedadOncologica,this.BronquitisPrevia,this.NAC_Previa,this.EPOC,this.Asma,
                this.Tuberculosis,this.Fumador,'Aca vienen un false y un true',this.OtrasDetalle,)

                console.log('Signos y Sintomas: ',this.FiebreMayorA38,this.Taquipnea_Disnea,this.Diarrea,this.Artralgias,this.MalestarEnGenerl,this.Tos,this.Vomitos,this.DolorDeGarganta,
                this.InsuficienciaRespiratoria,this.DolorAbdominal,this.DolorToracico,this.RechazoAlAlimento,this.IrritabilidadConfusion,this.Convulsiones,'un true',this.OtrosDetalleSintomas)
            },

            strtobool(variable){
            if ((variable == "True") || (variable == "true")){
                variable = true
            }else{
                variable = false
            }
            return variable
            },

            enviar(){
                let dataPost = {
                    id:0,
                    estadoDelFormulario:0,
                    fechaDeCreacion: new Date(),
                    paciente:{
                        apiUserId:'string',
                        id:0,
                        nombre:this.Nombre,
                        apellido:this.Apellido,
                        tipoDeDocumento: 0,
                        nroDeDocumento: this.Dni,
                        fechaDeNacimiento: this.FechaNacimiento,
                        domicilio: {
                            domicilioId:0,
                            calle: this.Calle,
                            nroDeCalle:this.NroDeCalle,
                            dpto:this.Dpto,
                            nroDeDpto:this.Dpto,
                            piso:this.Piso,
                            localidadId:0,
                            //Tomar solo el ID localidad
                            localidad: {
                                id: 0,
                                nombre: "string",
                                provinciaId: 0,
                                provincia: {
                                id: 0,
                                nombre: "string"
                                },
                                codigoPostal: "string"
                            }
                        },
                        telefono: this.Telefono,
                        sexo: this.Sexo,
                        correo: this.Email,
                    },
                    pacienteId:0,
                    antecedenteEpidemiologicos1: {
                        id:0,
                        tipoDeOcupacionDelPaciente: parseInt(this.Ocupacion),
                        otroTipoDeOcupacion: "string",
                        tieneVacunaAntiGripal:this.TieneVacunaAntiGripal,
                        fechaDeVacunacion: this.FechaDeVacunacion, //aca va el formateador,
                        fechaDeVencimientoDeLaVacuna: this.FechaDeVencimientoDeLaVacuna, //aca va el formateador,
                        estuvoEnUnLugarDeContagioFueraDelPaisPrevioASintomas: this.strtobool(this.SiNo),
                        paisEnQueEstuvo: this.PaisEnQueEstuvo,
                        ciudadDelPaisEnQueEstuvo: this.CiudadDelPaisEnQueEstuvo,
                        fechaDeLlegadaAlPaisEnQueEstuvo: this.fechaPaisDesde, //aca va el formateador,
                        fechaDeSalidaDelPaisEnQueEstuvo: this.fechaPaisHasta, //aca va el formateador,
                        tipoDeTransporteUtilizado: parseInt(this.opcionViaje),
                        fechaDeIngresoAlPais: this.fechaIngreso, //aca va el formateador,
                        compañiaDeTransporte: this.compania,
                        residioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas:this.strtobool(this.ResidioEnLugarAjenoASuDomicilioDentroDelPaisPrevioASintomas),
                        domicilioAlejoEnElQueResidio: {
                            domicilioId: 0,
                            calle: this.Calle1,
                            nroDeCalle: this.NroDeCalle1,
                            dpto: this.Dpto1,
                            roDeDpto: this.Dpto1,
                            piso: this.Piso1,
                            localidadId:0,
                            //Tomar solo el ID de localidad
                            localidad: {
                                id: 0,
                                nombre: "string",
                                provinciaId: 0,
                                provincia: {
                                id: 0,
                                nombre: "string"
                                },
                                codigoPostal: "string"
                            }
                        },
                        fechaDeLlegadaADomicilioAjeno: this.fechaDesde, //aca va el formateador,
                        fechaDeSalidaDelDomicilioAjeno: this.fechaHasta, //aca va el formateador,
                    },
                    antecedenteEpidemiologicos1Id: 0,
                    antecedenteEpidemiologicos2: {
                        id:0,
                        visitoCentroConCasosPositivosPrevioASintomas: false,
                        nombreDelCentroVisitado: "string",
                        ciudadDelCentroVisitado: "string",
                        fechaDeLaVisitaAlCentro: new Date(),
                        contactoConAnimalesPrevioASintomas: false,
                        tipoDeAnimalesConContacto: 0,
                        otroTipoDeContactoConAnimales: "string",
                        contactoConPersonasConIRPrevioASintomas: false,
                        tipoDeEntornoDeContacto: 0,
                        otroTipoDeEntornoDeContacto: "string",
                        contactoConCasosProbablesOConfirmadosPrevioASintomas: false,
                        apellidoDelCaso: "string",
                        nombreDelCaso: "string",
                        dniDelCaso: "string",
                        paisDelCaso: "string",
                        areaDelCaso: "string",
                    },
                    antecedenteEpidemiologicos2Id: 0,
                    enfermedadesPreviasComorbilidades: {
                        id:0,
                        presentaEnfermedadesComorbilidades:this.strtobool(this.PresentaEnfermedadesComorbilidades),
                        inmunoSupresionCongenitaOAdquirida: this.InmunoSupresionCongenitaOAdquirida,
                        diabetes:this.Diabetes,
                        obesidad:this.Obesidad,
                        embarzo:this.Embarazo,
                        puerperio:this.Puerperio,
                        prematuridad:this.Prematuridad,
                        semanasDePrematuridad: this.SemanasDePrematuridad,
                        bajoPesoAlNacer:this.BajoPesoAlNacer,
                        cantidadDePesoAlNacer: this.CantidadPesoAlNacer,
                        enfermedadNeurologica:this.EnfermedadNeurologica,
                        enfermedadHepatica:this.EnfermedadHepatica,
                        enfermedadRenalCronica:this.EnfermedadRenalCronica,
                        hipertensionArterial:this.HipertensionArterial,
                        enfermedadOncologica:this.EnfermedadOncologica,
                        bronquitisPrevia:this.BronquitisPrevia,
                        naC_Previa:this.NAC_Previa,
                        epoc:this.EPOC,
                        asma:this.Asma,
                        tubercolosis:this.Tuberculosis,
                        fumador:this.Fumador,
                        ningunaDelasAnteriores: false,
                        otras: true,
                        otrasDetalle: this.OtrasDetalle,
                    },
                    enfermedadesPreviasComorbilidadesId: 0,
                    signosYSintomas: {
                        id: 0,
                        fiebreMayorA38:this.FiebreMayorA38,
                        taquipnea_Disnea:this.Taquipnea_Disnea,
                        diarrea:this.Diarrea,
                        artralgias:this.Artralgias,
                        malestarEnGenerl:this.MalestarEnGenerl,
                        tos:this.Tos,
                        vomitos: this.Vomitos,
                        dolorDeGarganta:this.DolorDeGarganta,
                        insuficienciaRespiratoria:this.InsuficienciaRespiratoria,
                        dolorAbdominal:this.DolorAbdominal,
                        dolorToracico:this.DolorToracico,
                        rechazoAlAlimento:this.RechazoAlAlimento,
                        irritabilidadConfusion:this.IrritabilidadConfusion,
                        convulsiones:this.Convulsiones,
                        otros: true,
                        otrosDetalle: this.OtrosDetalleSintomas
                    },
                    signosYSintomasId: 0,
                    respuestaMedica: " "
                }

                axios.post(`http://40.118.242.96:12600/api/FormularioParaAnalisis/Add`,dataPost,config)
                .then((response)=>{
                    console.log('Formulario creado, no lo hiciste fallar :c ',response)
                })
                .catch((err)=>{
                    console.log(err)
                })
                
                
            }
        }
    })
</script>