<!DOCTYPE html>
<html>
  <head>
    <title>COVID</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/estilosCR.css">
    <link rel="stylesheet" href="/styles/estilosIF.css">
    <link rel="stylesheet" href="/styles/estilosIndex2.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <header>
      <div id="secciones">
          <ul>
              <li><a href="/#estadoPandemia">Estado de la pandemia</a></li>
              <li><a href="/#recomendaciones">Recomendaciones</a></li>
              <li><a href="/#informesDiarios">Informes diarios</a></li>
              <li><a href="/#preguntasFrecuentes">Preguntas frecuentes</a></li>
          </ul>
          <a href="/consultarResultado" id="botonCR">Consultar resultado</a>
          <a href="/InformarSintomas" id="botonRS">Reportar síntomas</a>
      </div>

      
    </header>
    
    <!-- Buscar la forma de hacer desaparecer el div de abajo cuando no se está en la página principal.
      Tiene alguna asociacion con la barra de navegación fija, porque si borras el div y el h1 se rompe esa barrita.
      Fijate si podes tratar de separar eso porfis,  no importa si no se la puede hacer desaparecer.
      -->
    <div id="encabezado">
      <h1>CORONAVIRUS</h1>
    </div>
    <%- body %>

    <footer id="footer">
      <div>
          <h1 id="titulo1">Teléfonos Útiles</h1>
      </div>
      <h3>Información sobre el coronavirus, recomendaciones del Ministerio de Salud Pública y medidas de prevención.</h3>
      <br/>
      <div class="gridF">
           <div class="elementF">
               <div class="elementTitle">Reportes</div>
               <hr/>
               <h5><a href="tel:"+0800 444 0829>0800 444 0829</a></h5>
               <h5>Para reportar casos sospechosos (aparición de síntomas), contactos estrechos y notificar regresos de viajes internacionales.</h5>
               <buttom id="botonLC">LLAMAR</buttom>
           </div>
           <div class="elementF">
               <div class="elementTitle">Emergencias</div>
               <hr/>
               <h5><a href="tel:"+107>107</a></h5>
               <h5>Emergencias médicas</h5>
               <h5><a href="tel:"+911>911</a></h5>
               <h5>Para denunciar si personas no cumplen con el protocolo de aislamiento soocial obligatorio.</h5>
           </div>
           <div class="elementF">
               <div class="elementTitle">Whatsapp </div>
               <hr/>
               <h5><a href="tel:"+541162730000>1162730000</a></h5>
               <h5>Para recibir información oficial y confiable enviá por whatsapp el mensaje @CHACO SALUD y seguí los pasos que indica</h5>
               <buttom id="botonLC">CONSULTAR</buttom>
           </div>
      </div>
  </footer>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>