/* colores:
azul = #151A61
celeste claro: #90E6F3
fondo botones: #213B9C
letra: Franklin */

body {
    background-color: #fff;
    height:1700px;
    background-repeat: no-repeat;
}

#secciones{
    width: 100%;
    height: 80px;
    background-color: #151A61;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    margin-top: -240px;    
}

h1{
    color:#FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    margin-left: 30px;
    margin-top: 250px;
}
.datosPersonales{
    font-weight: normal;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    top: 0px;
    position: fixed;
}
li {
    float: left;
}
li a{
    display: block;
    text-align: center;
    padding: 15px;
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}
li a:hover{
    color: #90E6F3; 
}
#botonRS{
    padding: 5px;
    font-size: 18px;
    float:right;
    margin: 10Px;
    background-color: #213B9C;
    color: #C2C4CC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 25Px;
    text-decoration: none;
    border-radius: 5px;
}
#botonRS:hover{
    color: #90E6F3;
}
#botonCR {
    padding: 5px;
    font-size: 18px;
    float:right;
    margin: 10px;
    background-color: #213B9C;
    color: #C2C4CC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 5px;
}
#botonCR:hover{
    color: #90E6F3;
}
hr {
    box-shadow: 0 0 2px #333;
}

/*Estado pandemia */
#estadoPandemia {
    width: 80%;
    height: auto;
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;
}
#titulo1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#213B9C;
    text-shadow: 2px 2px hsl(0, 0%, 86%);
    margin-top: 50px;
}
#fases1 {
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
#fases1 h2 {
    background-color: #hsl(0, 0%, 86%);
    border-radius: 10px;
    padding: 10px;
    font-family: Cambria;
    font-size: 22px;
    width: 355px;
}
#fases2 {
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 33%);
    justify-self: center;
}
#fases2 h2 {
    background-color: hsl(0, 0%, 86%);
    border-radius: 10px;
    padding: 10px;
    font-family: Cambria;
    font-size: 22px;
    width: 355px;
}
/* Recomendaciones */
#recomendaciones {
    width: 80%;
    margin:auto;
    height: 1250px;
    margin-top: -190px;
}
#titulo2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#213B9C;
    text-shadow: 2px 2px hsl(0, 0%, 86%);
}
.grid1 {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 250px);
    justify-content: center;
    align-items: center;
    box-shadow: 50px;
    grid-auto-rows: 50px;
    height: 550px;
}
.grid1 h3 {
    font-size: 22px;
    font-family: Cambria;
    align-items: center;
    text-align: center;
}
.element {
    justify-content: center;
    align-items: center;
    padding: 30px;
}
img {
    display: block;
    margin: auto;
}
.grid1 img {
    width:40%;
}
.grid2 img {
    width: 70%;
}
.grid2 {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: (1, auto);
    justify-content: center;
    align-items: center;
    box-shadow: 70px;
    grid-auto-rows: 80px;
    height: 550px;
}
.grid2 h3 {
    font-size: 22px;
    font-family: Cambria;
    align-items: center;
    text-align: center;
}


/* Informes diarios */
#informesDiarios {
    width: 80%;
    height: 700px;
    margin:auto;
}
#titulo3{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#213B9C;
    text-shadow: 2px 2px hsl(0, 0%, 86%);
    margin-top: 70px;
}
#app {
    margin:auto;
    display:block;
    width: 100%;
}
#tabla {
    width: 60%;
    height: auto;
    margin: auto;
    display: block;  
    border: none;
}
th {
    font-size: 18px;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: hsl(0, 0%, 86%);
}
.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    grid-auto-rows: 200px;
    height: auto;
}
.element3{
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 18px;
    margin:10px;
    background-color: #fff;
    box-shadow: 0 0 10px #333;
}
.grid3 h4 {
    font-size: 22px;
    font-family: Csambria;
    text-align: center;
}
.grid3 h5 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.grid3 img {
    width: 100%;
}
.grid31{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-around;
    height: auto;
}
.element31{
    justify-content: center;
    align-items: center;
    margin:auto;
}
#boton {
    text-align: center;
    margin-top: 20px;
}
#botonMasDias {
    padding: 10px;
    font-size: 18px;
    margin: 0px;
    background-color: #213B9C;
    color: #C2C4CC;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 5px;
    border:none;
}
#botonMasDias:hover{
    color: #90E6F3;
}

/* Preguntas frecuentes */
#cajaPregFrecuentes{
    width: 80%;
    margin:auto;
    height: auto;
}
#titulo4{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#213B9C;
    text-shadow: 2px 2px hsl(0, 0%, 86%);
    margin-top: 70px;
}
h2 {
    background-color: hsl(0, 0%, 86%);
    border-radius: 10px;
    padding: 10px;
    font-family: Cambria;
    font-size: 22px;
    width: auto;
}
h3 {
    border-radius: 10px;
    padding: 5px;
    font-family: Verdana;
    font-weight: normal;
    text-align: justify;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Footer */
#footer{
    width: 80%;
    height: 400px;
    margin: auto;
}
.gridF {
    display: grid;
    margin: 30px;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    align-items: center;
    box-shadow: 50px;
    grid-auto-rows: 50px;
    height: 250px;
}
.elementF {
    margin: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 130px;
    border: 2px solid #151A61;
    height: 250px;
    background: hsl(0, 0%, 86%);
    border-radius: 5px;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    font-weight: normal;
}
.elementTitle {
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: hsl(0, 0%, 86%);
}
#botonLC {
    padding: 10px;
    font-size: 18px;
    background-color: #90E6F3;
    border-radius: 5px;
    color: #333;
    border: none;
    box-shadow: 0 0 5px #333;
}
#botonLC:hover {
    background-color: #5EA7B3;
}
#footer h3 {
    text-align: center;
    margin-bottom: 40px;
}
#footer a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}